<%- include("partials/header") -%>
<h1><%= postTitle %></h1>
<p><%= postContent %></p>
<%- include("partials/footer") -%>

<%# powerful template, no need to create many many ejs for every post %>
<%# this seperate page is used for all posts %>
